/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .cotp-tradeprint-main {
    width: 100%;
}
 .cotp-tradeprint.cotp-product-attributes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    justify-content: space-between;
}

.cotp-product-attribute-single label, .cotp-product-attribute-single select {
    width: 100%;
}

.cotp-product-attribute-single {
    width: 49%;
}

.cotp-product-attribute-single select {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}

.cotp-product-attribute-single label {
    font-weight: 500;
    font-size: 16px;
}


.cotp-tradeprint.cotp-quantity-options label {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}

.cotp-tradeprint.cotp-quantity-options {
    width: 50%;
}

.cotp-tradeprint.cotp-quantity-options select {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}

.cotp-tradeprint.cotp-tradeprint-prices {
    width: 50%;
}

.cotp-tradeprint.cotp-tradeprint-prices .tradeprice_service_level label {
    width: 100%;
}

.cotp-tradeprint.cotp-tradeprint-prices .tradeprice_service_level {
    display: flex;
    flex-wrap: wrap;
}

.cotp-delivery-box {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.cotp-postcode-field input {
    font-size: 16px;
    padding: 8px;
    width: 100%;
}

.cotp-tradeprint-expected-delivery {
    width: 50%;
}

.cotp-postcode-field {
    width: 75%;
}

.cotp-postcode-submit {
    width: 25%;
}

.cotp-postcode-submit button {
    width: 100%;
    padding: 8px;
}

.cotp-tradeprint.cotp-tradeprint-file-upload {
    width: 50%;
}

.cotp-upload-main {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 0;
}

button#cotp_upload_now_btn {
    width: 100%;
}

a#cotp_upload_later {
    width: 100%;
}

input#tradeprint_upload {
    display: none;
    width: 100%;
}