/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .cotp-attribute-settings {
    padding: 15px;
}

.cotp-available-attr-selection {
    padding: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 10px;
}

.cotp_admin_field {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.cotp_admin_field lable {
    margin: 0 !important;
}

.cotp_admin_field label {
    margin: 0 !important;
    width: 100%;
    font-weight: 600;
}

select.tradeprint_admin_options {
    width: 100%;
}

.cotr_admin_tradeprint {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.cotr-admin-success {
    background: #8cec8c;
    color: green;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}
.cotr-admin-error {
    background: #ffa8a8;
    color: red;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.cotp_ship_to_store_popup {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #ffffff78;
}

.cotp_ship_to_store_inner {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    width: 30%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
}

.cotp_ship_to_store_inner label {
    margin-bottom: 10px;
    display: inline-block;
}

span.cotp_ship_to_store_close {float: right;cursor: pointer;}
